body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f1e8; /* Beige arenoso */
  color: #3e2f1c; /* Marrón oscuro */
  padding-top: 80px; /* Para separar del header fijo */
}

/* ======== Encabezado y navegación ======== */
header {
  background-color: antiquewhite; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

nav a {
  color: #ccb392; /* Tono pergamino */
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: black; /* Arena clara */
  border-bottom: 2px solid black;
}

section {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #6f866f; 
      color: white;
    }

    .inicio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px;
      min-height: 100vh;
      box-sizing: border-box;
    }

    .inicio-text {
      max-width: 50%;
    }

    .inicio-text h1 {
      font-size: 48px;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    .inicio-text p {
      font-size: 16px;
      line-height: 1.6;
      color: #e0e0e0;
    }

    .inicio-text a {
      display: inline-block;
      margin-top: 20px;
      color: black;
      text-decoration: underline;
      font-weight: bold;
    }

    .inicio-image img {
      max-width: 500px;
      width: 100%;
      border-radius: 20px;
    }

    @media (max-width: 500px) {
      .inicio {
        text-align: center;
      }

      .inicio-text, .hero-image {
        max-width: 100%;
      }

      .inicio-image {
        margin-top: 20px;
      }
    }
    .bg-brown {
  background-color: #8B5E3C;
}

.text-brown {
  color: #ebbe9c;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}
footer {
  background-color: #c2a878;
  color: #8b6b3f;
  padding: 20px;
  margin-top: 30px;
}

footer .pei {
  max-width: 900px;
  margin: auto;
}

footer ul {
  list-style: none;
}

footer li {
  margin-bottom: 10px;
}